.inner-icons{
    // margin-left: 70px;
}

.inner-social{
    display: flex;
  
}



.icon-social{
    fill: #ffff;
   
}

.inner-social__item{
    margin-right: 10px;
    width: 44px;
    height: 44px;
   
}


.footer-social{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(.17,.67,.83,.67);

&:hover,
&:focus
{
    background-color: var(--blue);
}

}

