.footer-form__title-mail-footer{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    // align-items: baseline;
    // padding-left: 93px;
    // text-align: center;

    @media screen and (min-widh:480px) {
        // text-align: center;
        display: block;
        // margin-bottom: 20px;
        // margin-top: 60px;
    }
    
    }
    