.footer-form__title-mail-footer{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: baseline;
    padding-left: 93px;
    text-align: center;

    
    
    }
    