.footer-form__title-mail-footer{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: baseline;
    
    // text-align: center;
    display: block; 

      
   

    @media screen and (min-width:320px) and (max-width:1200px) {
        text-align: center;
        padding-top: 60px;
       
    }


    @media screen and (min-width:1200px){
        padding-left: 93px;
    }


    

    
    
    }
    