.banner{

    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
         url(../img/baground-hero/hero.jpg);
         
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        display: block;
        max-width: 1600px;
        margin-right: auto;
        margin-left:auto;

      
        
        }