.clients{
    display: flex;
    flex-wrap: wrap;
   
}

.clients__item-clients{
    margin-right: 30px;
    width: 170px;
    height: 92px;
   
    &:last-child{
        margin-right: 0px;
    }
    
   
}

