


.site-nav__text-portfolio-page-second{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
   
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue);
    text-decoration: none;
    
    position: relative;

    &::after{
        content: '';
        position:absolute;
        display: block;
        bottom:  0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--blue);
    }
}






.site-nav__text-studio-page-second{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);
  
    text-decoration: none;

    transition: color 250ms linear;


&:hover,
&:focus
{
    color: var(--blue);
}
}



