.buttons-group{
    //display: flex;
     // justify-content: center;
    // margin-bottom: 50px;


    @media screen and (min-width:320px)   {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
    
    }

    @media screen and (min-width:480px)   {
      display: flex;
      flex-wrap: wrap;
        margin-bottom: 40px;
    }

    @media screen and (min-width:768px)   {
      display: flex;
      justify-content: center;
      margin-bottom: 40px; 
    }

    @media screen and (min-width:1200px)   {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;  
    
    }
    
    
   }
   
   
   .section .btn-section{
     


       @media screen and (min-width:320px)  {
      
        padding-top: 60px;
        padding-bottom: 40px;
       }



       @media screen and (min-width:480px)  {
      
        padding-top: 60px;
        padding-bottom: 40px;
       }

       @media screen and (min-width:768px)  {
      
        padding-top: 60px;
        padding-bottom: 0px;
       }

       @media screen and (min-width:1200px)  {
      
        padding-top: 94px;
        padding-bottom: 0px;
       }

   }
   
    .btn-item{

      @media screen and (min-width:320px) {
      
        margin-top: 21px;
        margin-left: 8px;

        &:last-child{
          margin-left: 8px;
       }
      
      }
      @media screen and (min-width:480px) {
      
        margin-top: 21px;
        margin-left: 8px;

         &:last-child{
            margin-left: 8px;
         }

         
      
      }

      @media screen and (min-width:768px) {
      
       
        margin-left: 8px;

         &:last-child{
            margin-left: 8px;
         }

         
      
      }
  
  
  //  margin-left:8px;
  //   &:last-child{
  //       margin-left: 8px;
  //   }
    
  //    &:first-child{
  //        margin-left: 0px;
  //    }
    
     
   
   }
   
   
   .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       padding: 0;
       overflow: hidden;
       border: 0;
       clip: rect(0 0 0 0)
     }
   
   .buttons{
       background:  #F5F4FA;
       border-radius: 4px;
       cursor: pointer;
       padding: 6px 22px;
   
       border: transparent;
      color: var(--black); 
   
      transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   
       /* Text */
   
       
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.6;
   
       letter-spacing: 0.03em;
   
       transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
     &:hover,
     &:focus
   {
   color: var(--white);
   background: var(--blue);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   
   }
   
   
   }
   
   