.presentation{
  
    width: 100%;
    
    // display: flex;
    // flex-wrap: wrap;
    
    
    // margin-left: calc(-1 * var(--presentation-set));
    // margin-top: calc(-1 * var(--presentation-set));
    

    
    /* padding-bottom: 94px; */
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--presentation-set));
        margin-top: calc(-1 * var(--presentation-set));
        width: 100%;
    }
    
    
    }

    .presintation-item{
       
        // flex-basis: calc(100%   /  var(--presentation-set) );
     
        // margin-left: var(--presentation-set);
        // margin-top:   var(--presentation-set);
      
       
    /* padding-bottom: 94px; */

    @media screen and (min-width:480px) {
        margin-top: var(--presentation-set);
    }
    
    @media screen and (min-width:768px) {
        flex-basis: calc(100%   /  2 - 30px);
     margin-left: var(--presentation-set);
     margin-top: var(--presentation-set);
    
    
    }
    
       
     }  
    
    .overlay{
        position: relative;
        overflow: hidden;
    }
    
    .top-text{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        display: block;
         padding-top: 63px;
         padding-bottom: 63px;
         padding-left: 24px;
         padding-right: 24px;
         background:  rgba(33, 150, 243, 0.9);
      
         /* overflow: auto; */
         transform: translateY(100%);
    
         transition: transform  250ms linear;
         
         font-weight: normal;
         font-size: 18px;
         line-height: calc(28 / 18);
         letter-spacing: 0.03em;
         color: var(--white);
    }
    
    /* .presintation-item:hover,
        .presintation-item:focus
     {
        transform: translateY(0%);
    } */
    
    
    
     .inner-text-present{
         padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
    
        
        border: 1px solid #EEEEEE; 
    
        border-top: 1px solid  #EEEEEE;
        
    }
    
    
    .text-heading-present{
     
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.06em;
         
         color: var(--black);
    }
    
      
    
    
    .discription-text-present{
    
    
       font-style: normal;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        
        color: var(--grey);
    
         margin-top: 4px; 
    
    }


    
    .link-presentation{
    
        text-decoration: none;
        // display: block;
        width: 100%;
      
      
    }
    
    
    .link-presentation:hover .top-text,
    .link-presentation:focus .top-text
    {
        transform: translateY(0%);
        
       }
       
    
    .link-presentation:hover,
    .link-presentation:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    
    
    

    img{
        display: block;
        width: 100%;
        
    }