.tel-header_color_grey {

    color:var(--grey);
}

.mail-header_color_grey{

    color:var(--grey);
}

.color_text_white{
    color: var(--white);
}

.feature_title_black{
    color: var(--black);
}


.color_text_grey{

    color: var(--grey);

}


.color_text_black{
    color: var(--black);
}

.background_text{
    background: rgba(47, 48, 58, 0.8);
}


.color_blue{
    color: var( --blue);
}