.subscribe{
  
     width: 200px;  
     height: 50px;
     background-color: var(--blue);
     border: transparent;
     border-radius: 4px;
     color: var(--white);
 
   
    font-weight: bold;
    font-size: 16px;
   line-height: calc(30 / 16);
   letter-spacing: 0.06em;
 
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 29px;
   padding-right: 60px;
 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 
   margin-left: 12px;
   position: relative;
  
   @media screen and (min-width:320px) {
   display: block;
   margin: 0 auto;
   margin-top: 20px;
 
  }
 
  @media screen and (min-width:1200px) {
    display:inline-block;
     margin-left: 12px;
   }
  
    
 }
 
 .icon-footer{
     fill: var(--white);
     position: absolute;
    
     top: 13px;
     right: 28px;
 }
 