.address__mail-footer{
    display: block;
  
   margin-top: 9px;

  text-decoration: none;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
  
transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus
{
 color: var(--white);
}

}

