body{


    margin: 0 auto;

    font-family:  'Roboto',sans-serif;
   
    background-color:#fff;
}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
   
}


input, textarea {
    outline: none;
    border: none;
}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
img{
   display: block;
}
.section-footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header */



.container{
 
 width: 100%;
 margin: 0 auto ;
 padding-left: 15px;
 padding-right: 15px;
 
 } 

 

