.input{
    display: flex;
    flex-direction: column;
    
}


.window-form{
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
     padding: 40px;

   
     @media screen and (min-width:320px)  {
        width: 300px;
        height: 560px;
        padding: 20px;
    }
     

     @media screen and (min-width:480px)  {
         width: 100%;
         width: 450px;
         height: 609px;
     }

     @media screen and (min-width:768px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
    }
   
}


.is-hidden.backdrop{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    
}


.input__area-input{
    width:100%;

    height: 120px;

    border: solid 1px  rgba(33, 33, 33, 0.2);

    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    resize: none;
   
   display: block;

   padding-left: 16px;
   padding-top: 12px;
   margin-top: 4px;
   margin-bottom: 20px;

   &:hover{
    border-color: var(--blue);
}

 
 }

 .placeholder-text{
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
   
    &::placeholder{

        color: rgba(117, 117, 117, 0.5);
      
      
    }
    }

   .input__btn-submit{
     
        background-color: var(--blue);
        width: 200px;
        height: 50px;
       
      
        border: transparent;
        border-radius: 4px;
        cursor: pointer;
       
     
      
      align-self: center;

       font-weight: bold;
       font-size: 16px;
       line-height: calc(30 / 16);
       text-align: center;
       letter-spacing: 0.06em;
    

       box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
     
    }
    
     
    .backdrop{
        position: fixed;
        width: 100vw;
        height: 100vh;
        
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
    
        
    
        transition: opacity 250ms linear, visibility 300ms;  
       
    }
